@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    
    overflow-x: hidden;
    background: #393E46;
    
}

html{
    font-size: 62.6%;
    overflow-x: hidden;
}

.header{
    width: 100vw;
    position: relative;
    
    
}

.container{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d1bba4 ;
    
} 

.logo1{
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;

}

.logo1 img{
   width: 10rem;
   height: 6rem;
}

.navbar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list li a {
    font-size: 2.5rem;
    margin: 0 35px;
    text-decoration: none;
    color: #263A29;
    font-weight: bold;
}

.icons{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    cursor: pointer;

}

.icons .ico{
    width: 3.5rem;
    height: 3.5rem;
}

/* --------------------------------------------------MediaQuaries for Navbar------------------------------- */


@media (max-width:62rem){
    .icons{
        display: block;
    }
    .icons .ico[name="menu-outline"]{
        display: block;
    }
    .icons .ico[name="close-outline"]{
        display: none;
    }

    .navbar{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translateX(100%);
        background: #FDF4F5;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.5s all  linear;
        z-index: 1;
       
        

    }

    .list{
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }

    .active .navbar{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0%);
        
        
    }

    .active .icons .ico[name="menu-outline"]{
        display: none;
    }
    .active .icons .ico[name="close-outline"]{
        display: block;
    }
}

/* _________________________________________Main Section Start__________________________________ */

.mainDiv{
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    
}

.About_me{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 5rem;
    color: white;
    font-family: 'Alkatra', cursive;
    font-weight: 400;
}

.profession{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profession h2{
    font-size: 3rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: 'poppins',sans-serif;
    
}

.profession h3{
    font-size: 2rem;
    color: white;
}


.linksDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}

.h2{
    font-size: 2rem;
    margin: 20px 0;
    color: white;
}

.links{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.links a img{
    width: 3.6rem;
    font-size: 2.5rem;
    margin: 0 15px;
   
}

.links a{
    margin-right: 20px;
}

.profile_pic{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile_pic img{
    width: 100%;
    border-radius: 50px;
}


/* _________________________________________Media Quarise for Section ______________________________ */

@media (max-width:1000px){
    .heading h1{
        font-size: 3rem;
    }

    .profession h2{
        font-size: 2rem;
    }

    .profession h3{
        font-size: 1.5rem;
        
    }
    .h2{
        font-size: 1rem;
        margin: 20px 0;
        
    }
    .links a img{
        width: 2rem;
        font-size: 1.8rem;
        margin: 0 15px;
       
    }
}
@media (max-width:700px){
   .mainDiv{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: flex-start;
   }

   .profile_pic{
    width: 100%;
    height: 70vh;
    align-items: center;
   }
   .profile_pic img{
    width: 45%;
    align-items: center;
    justify-content: flex-start;
   }
   .About_me{
    width: 100%;
    height: 35vh;
    

}
}

/* ----------------------------------------Education Section Start_________________________________ */

.education{
    width: 100wv;
    margin: 30px 0;
    
    
}

.educationHead{
   
    display: block;
    margin: 0 auto;
}

.educationHead h1{
    font-size: 5rem;
    text-align: center;
    color: white;
    margin: 20px auto;
    font-family: 'Alkatra', cursive;
    font-weight: 400;
}
.mainbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   

}
.mainbox1{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}



.box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.box_head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.box_head img{
    width: 10vw;
    height: 20vh;  
}

.boxbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.boxbody h2{
    font-family: 'Alkatra', cursive;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.boxbody h3{
    font-family: 'Alkatra', cursive;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    color: white;
}
.boxbody p{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: white;
}

.Skils{
    width: 25%;
    height: 80vh;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skbuttons{
    width: 100%;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btn{
    width: 60%;
    padding: 10px;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Alkatra', cursive;
}

.head{
    font-size: 5rem;
}

/* --------------------------------------Media Quarise for Education Section________________________________ */

@media  (max-width:1000px){

    .education{
        margin-top: 30px;
    }

    .educationHead h1{
        font-size: 3rem;
    }

    .box_head img{
        width: 10vw;
        height: 12vh;  
    }

    .mainbox{
        flex-direction: column;
    }

    .Skils{
        width: 80%;
        margin: 30px 0;
    }

    .btn{
        width: 80%;
    }
}

@media (max-width:700px){
    .box{
        
        flex: 0 0 500px
    }

    .box_head img{
        width: 15vw;
         
    }
}
@media (max-width:500px){
    
    .box{
        
        width: 100%;
    }
    .box_head img{
        width: 40vw;
         
    }
}
@media (max-width:400px){
    .box{
        width: 100%;
        flex: 0 0 300px
    }

    
}
@media (max-width:500px){
    

    .box_head img{
        width: 20vw;
         
    }
}

/* _______________________________________Projects section startt & there Media Quarise___________________________ */


.Projects{
    width: 100wv;
    margin: 30px 0;
    
}

.projecthead{
    display: block;
    margin: 0 auto;
}

.projecthead h1{
    font-size: 5rem;
    text-align: center;
    color: white;
    margin: 20px auto;
}

.Projects .mainbox1{
    width: 100%;
    justify-content: center;

}

.Projects .mainbox1 .box{
    width: 30%;
    transition: all 1s linear;
    position: relative;
    
}

.show{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* _________________________________________________Contact Form Section Start_______________________________ */

.contact{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parentc{
    width: 380px;
    height: 450px;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;

}



h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #F9DBBB;
}

.inputbox{
    width: 310px;
    position: relative;
    left: 0%;
    margin: 45px 0;
    border-bottom: 2px solid wheat;
}



.inputbox input{
    width: 100vw;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    padding:0  34px 0 6px;
    font-size: 2rem;
    color: #F9DBBB;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 2rem;
    font-weight: bold;
    transform: translateY(-50%);
    padding: 0 20px 0 0;
    color: #F9DBBB;
    transition: 0.5s;
}

.inputbox ion-icon{
    color: #F9DBBB;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 1.5rem;
}

input:focus ~ ion-icon,
input:valid ~ ion-icon

{
    top: -10px;
}
 input:focus ~ label,
 input:valid ~ label
{
    top: -10px;
}

.submit{
    width: 310px;
    position: relative;
    left: 28%;
    margin: 10px 0 ;
}

.submit input{
    width: 40%;
    padding: 8px 20px;
    font-size: 2rem;
    margin: 0 auto;
    background-color:#E96479 ;
    color: #fff;
    cursor: pointer;
}

.submit input:hover{
    background-color:#fff ;
    color: #E96479;
}

.back{
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #393E46;
    gap: 5px;
}

.footer p{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    
}

@media (max-width:400px){
    .footer p{
        font-size: 1.5rem;
        
    }

    
 .parentc{
    width: 300px;
    position: relative;
 }

 .inputbox{
    width: 250px;
    position: relative;
    left: 10%;
    border-bottom: 2px solid wheat;
}
    
}